doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Happy Birthday
    link(rel="stylesheet" href="main.css")
  body
    label
      h4.hint Click to blow out the candles!
      input(type="checkbox")
      .card
        h1.title
          span Happy Birthday
          span Houdini
        .cake
          .candle-group
            .light
            .smoke
            .candle
              .fire
            .candle
            .fire
          .cake-top
          .cake-bottom
            .butter
              .butter-circle
              .butter-circle
              .butter-circle
              .butter-circle
              .butter-circle
              .butter-circle
          .plate

        .boy
          .boy-head
            .hairs
              .hair1
              .hair2
              .hair3
              .hair4
              .hair5
              .hair6
            .face
              .eyebrows
              .eyes
              .blush
              .mouth
          .boy-body
            .body
            .hands
              .left-hand
              .right-hand
        .desk
        .sprinkles
          .sprinkle1
          .sprinkle2
          .sprinkle3
          .sprinkle4
          .sprinkle5
          .sprinkle6
          .sprinkle7
          .sprinkle8
          .sprinkle9
          .sprinkle10
          .sprinkle11
          .sprinkle12
          .sprinkle13
          .sprinkle14
          .sprinkle15
          .sprinkle16
          .sprinkle17
          .sprinkle18
          .sprinkle19
          .sprinkle20
          .sprinkle21
          .sprinkle22
          .sprinkle23
          .sprinkle24
          .sprinkle25
          .sprinkle26
          .sprinkle27
          .sprinkle28
          .sprinkle29
          .sprinkle30
          .sprinkle31
          .sprinkle32
          .sprinkle33
          .sprinkle34
          .sprinkle35
          .sprinkle36
          .sprinkle37
          .sprinkle38
          .sprinkle39
          .sprinkle40
          .sprinkle41
          .sprinkle42
          .sprinkle43
          .sprinkle44
          .sprinkle45
          .sprinkle46
          .sprinkle47
          .sprinkle48
          .sprinkle49
          .sprinkle50
          .sprinkle51
          .sprinkle52
          .sprinkle53
          .sprinkle54
          .sprinkle55
          .sprinkle56
          .sprinkle57
          .sprinkle58
          .sprinkle59
          .sprinkle60
          .sprinkle61
          .sprinkle62
          .sprinkle63
          .sprinkle64
          .sprinkle65
          .sprinkle66
          .sprinkle67
          .sprinkle68
          .sprinkle69
          .sprinkle70
          .sprinkle71
          .sprinkle72
          .sprinkle73
          .sprinkle74
          .sprinkle75
          .sprinkle76
          .sprinkle77
          .sprinkle78
          .sprinkle79
          .sprinkle80
          .sprinkle81
          .sprinkle82
          .sprinkle83
          .sprinkle84
          .sprinkle85
          .sprinkle86
          .sprinkle87
          .sprinkle88
          .sprinkle89
          .sprinkle90
          .sprinkle91
          .sprinkle92
          .sprinkle93
          .sprinkle94
          .sprinkle95
          .sprinkle96
          .sprinkle97
          .sprinkle98
          .sprinkle99
          .sprinkle100
      
